*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

.container-fluid{
    width: 100%;
    min-height: 100vh;
    background:url(/images/beautiful-nature-landscape-with-mountains.jpg);
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-color{
    color: #056115;
}

.todo{
    width: 100%;
    max-width: 540px;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(15px);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 9px 35px 0 rgba(39, 88, 90, 0.37) ;
}

.todo h2{
    color:#056115;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo h2 img{
    width: 30px;
    margin-left: 10px;
}

.row-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    color: #000;
    padding: 10px;
    font-weight: 14px;
}

.btn-text{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #5AA566;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
}

ul li{
    list-style: none;
    font-size: 17px;
    color: #fff;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(/images/radio_10914625.png);
    background-size: cover;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color:#5AA566;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image:url(/images/check_5610944.png);
    
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size:20px ;
    color: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background:#5AA566;
}